CONFIG_ROBUSTO_PEER_NAME="RobustoNative"
CONFIG_ROBUSTO_PEER_HEARTBEAT_SKIP_COUNT=10
CONFIG_ROBUSTO_NETWORK_MOCK_TESTING=y
CONFIG_ROBUSTO_MONITOR_MEMORY=y
CONFIG_ROBUSTO_MONITOR_DANGER_USAGE=32000000000
CONFIG_ROBUSTO_MONITOR_WARNING_USAGE=16000000000
CONFIG_ROB_BLINK_GPIO=0
CONFIG_TEST_LIB_DEF=y
