CONFIG_ROB_BLINK_GPIO=22
CONFIG_ROBUSTO_SUPPORTS_I2C=y
CONFIG_I2C_SCL_IO=5
CONFIG_I2C_ADDR=4
CONFIG_ROB_NETWORK_TEST_I2C_LOOP_INITIATOR=y
CONFIG_ROB_NETWORK_TEST_I2C_CALL_ADDR=2
CONFIG_ROBUSTO_PEER_NAME="PI_Pico"
CONFIG_ROBUSTO_NETWORK_INTEGRATION_TESTING=y
CONFIG_TEST_LIB_DEF=y
