
menu "Robusto Examples"
    config ROBUSTO_EXAMPLE_HELLO_SERVER
        bool "Server with hello service"
        default false
        help
            A normal server setup with an example hello service registered. 
            Code is located under examples/hello.

    config ROBUSTO_EXAMPLE_HELLO_CLIENT
        bool "The hello client"
        default false

        help
            This is the client of the server, it means that it is will contact the server.
            To configure the way to connect, look at the networking testing settings.

    config ROBUSTO_EXAMPLE_INPUT_LADDER
        bool "The resistor ladder button example"
        default false
        help
            See the README.md in the source for more information.

        
    config ROBUSTO_EXAMPLE_HELLO_UI
        bool "Run the hello ui"

    config ROBUSTO_EXAMPLE_CONDUCTOR_CLIENT
        bool "The conductor client example"
        select ROBUSTO_CONDUCTOR_CLIENT
        default false
        help
            This is the conductor client, it will contact the conductor and then fall asleep periodically and communicate with the conductor peer.
            To configure the way to connect, look at the networking testing settings.

    config ROBUSTO_EXAMPLE_CONDUCTOR_SERVER
        bool "The conductor server example"
        select ROBUSTO_CONDUCTOR_SERVER
        default false
        help
            This is the conductor server, it will:
            1. Wait for a client to connect for at least ROBUSTO_CONDUCTOR_SERVER_AWAKE_TIME_MS, at most twice that
            2. Tell it to sleep for a the time defined in ROBUSTO_CONDUCTOR_SERVER_CYCLE_TIME_MS
            3. Go to sleep for the same time
            4. Repeat

    config ROBUSTO_UMTS_EXAMPLE_SMS
        bool "The UMTS/SMS example"
        help 
            This sends an SMS to the recipient specified below.
            Note that the UMTS gateway has to be enabled and configured.

        config ROBUSTO_UMTS_EXAMPLE_SMS_NUMBER
            string "The recipient phone number"
            depends on ROBUSTO_UMTS_EXAMPLE_SMS

        config ROBUSTO_UMTS_EXAMPLE_SMS_MESSAGE
            string "The message to send"
            depends on ROBUSTO_UMTS_EXAMPLE_SMS

    config ROBUSTO_UMTS_EXAMPLE_MQTT
        bool "The UMTS/MQTT example"
        help 
            This sends an MQTT message the specified MQTT server
            The server is set in the MQTT server settings, and also the main path.
            Note that the UMTS gateway has to be enabled and configured.

        config ROBUSTO_UMTS_EXAMPLE_MQTT_TOPIC
            string "The MQTT topic to send the message to"
            depends on ROBUSTO_UMTS_EXAMPLE_MQTT
            default "/topic/robusto_example"

        config ROBUSTO_UMTS_EXAMPLE_MQTT_MESSAGE
            string "The message to send"
            depends on ROBUSTO_UMTS_EXAMPLE_MQTT
            default "Hello MQTT!"


    config ROBUSTO_UMTS_EXAMPLE_GOOGLE_DRIVE
        bool "The UMTS/OAuth2 and Google drive example"
        help 
            This posts a file to google drive

    config ROBUSTO_UMTS_EXAMPLE_NTP
        bool "The UMTS/NTP example"
        help 
            This syncs the time on the MCU with time from an ntp-server.
            Note that the UMTS gateway has to be enabled and configured.
    config ROBUSTO_CAMERA_EXAMPLE
        bool "The Camera example"
        help 
            This takes a picture and sends it using Robusto.
    
    rsource "../camera/Kconfig"

    config ROBUSTO_FLASH_EXAMPLE_SPIFFS
        bool "The flash SPIFF example"
        help 
            Enables the flash SPIFF example
       
endmenu

        
