CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_100=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_FREERTOS_HZ=1000
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y

CONFIG_ROBUSTO_PEER_NAME="P4_PROXY"
CONFIG_ROBUSTO_PROXY=y
CONFIG_ROBUSTO_PROXY_CLIENT=y
CONFIG_ROBUSTO_PROXY_SERVICE_PUBSUB=y
CONFIG_ROBUSTO_PROXY_PROFILE_LOW_MEMORY=y