# Kconfig file for Robusto v0.1.0
menu "Robusto Configuration"
    orsource "base/Kconfig"                   
    orsource "network/Kconfig"
    orsource "server/Kconfig"
    orsource "ui/Kconfig"
    orsource "conductor/Kconfig"
    orsource "flash/Kconfig"
    orsource "misc/src/pubsub/Kconfig"
    orsource "misc/src/umts/Kconfig"
    orsource "input/Kconfig"
endmenu

